html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title= server.config.name
		style
			include style.css
		if (!image)
			style.
				html, body {
					background: #0e0e0e;
				}

				body {
					display: flex;
					align-items: center;
					justify-content: center;
				}
	body
		main(style=`background-image: url(${mapThumbnail})`)
			ul.playerlist
				each player in server.status.players
					li.player(class={ 'is-admin': player.isAdmin, 'is-banned': player.isBanned, 'is-afk': player.isAfk, 'is-pirate': player.isPirate })
						a(title="View profile", href=player.accountId ? `https://steamcommunity.com/profiles/[U:1:${player.accountId}]` : "#", target="_blank")
							if (player.avatar)
								img.avatar(src=player.avatar)
							span.nick #{player.nick}